.page-header {
  height: 100vh;
}

.page-header__wrapper {
  position: fixed;
  width: 35%;
  height: 100%;
  background-color: #0c5b67;
  background-image: url("../img/bg-header@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-header@2x.jpg");
  }
}
