.page-header__wrapper {
  position: fixed;
  width: 35%;
  min-height: 100%;
  background-color: #0c5b67;
  background-image: url("../img/bg-header@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0;
  z-index: 2;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-header@2x.jpg");
  }
}

@media (max-width: 1250px) {
  .page-header__wrapper {
    position: static;
    width: 100%;
    min-height: 400px;
    padding: 10% 5%;
    box-sizing: border-box;
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .page-header__wrapper {
    min-height: 340px;
  }
}
