.site-list {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.site-list__link {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #000000;
  }
}
