.skills {
  margin-top: 10px;
  padding-top: 90px;
}

.skills__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  color: #ffffff;
}

.skills__item {
  margin-right: 4%;
  margin-bottom: 30px;
}

@media (max-width: 1250px) {
  .skills__list {
    padding-right: 5%;
  }
}

@media (max-width: 768px) {
  .skills {
    padding-top: 65px;
  }

  .skills__item {
    margin-bottom: 26px;
  }
}
